#gravity {
    width: 500px;
    margin: 5px;
    border-spacing: 5px;
}

#gravity td {
    text-align: center;
}

.spacing-tooltip {
    background: black;
    color: white;
    text-decoration: none;
}
