---
component: Dialog
analytics:
  pageCategory: component
  component: dialog
status:
  api: deprecated
  core: true
  wrm: com.atlassian.auiplugin:dialog
  amd: false
  experimentalSince: 1.0
  generalSince: 1.1
---
<div class="aui-message aui-message-warning">
    <strong>Dialog has been deprecated</strong> and will be removed in a future version.
    <ul class="aui-nav-actions-list"><li><a href="{{rootPath}}docs/dialog2.html">View Dialog 2 documentation</a></li></ul>
</div>

<h2>Summary</h2>
<p>Modal dialog that displays additional functionality without leaving the current page.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<article class="aui-flatpack-example">
    <button id="example1-dialog-button" class="aui-button">Show dialog</button>
    <script>
        AJS.$(document).ready(function () {
            // Standard sizes are 400, 600 and 840 pixels wide
            var dialog = new AJS.Dialog({
                width: 800,
                height: 500,
                id: "example-dialog",
                closeOnOutsideClick: true
            });

            // PAGE 0 (first page)
            // adds header for first page
            dialog.addHeader("Dialog");

            // add panel 1
            dialog.addPanel("Panel 1", "<p>Some content for panel 1.</p>", "panel-body");
            // You can remove padding with:
            // dialog.get("panel:0").setPadding(0);

            // add panel 2 (this will create a menu on the left side for selecting panels within page 0)
            dialog.addPanel("Panel 2", "<p>Some content for panel 2.</p><div style='height: 2000px;'>(forced-height element to demonstrate scrolling content)</div><p>End.</p>", "panel-body");

            dialog.addButton("Next", function (dialog) {
                dialog.nextPage();
            });
            dialog.addLink("Cancel", function (dialog) {
                dialog.hide();
            }, "#");

            // PAGE 1 (second page)
            // adds a new page to dialog
            dialog.addPage();

            // adds header for second page
            dialog.addHeader("Dialog");

            // adds a single panel on second page (as there is only one panel, no menu will appear on the left side)
            dialog.addPanel("SinglePanel", "<p>Some content for the only panel on Page 1</p>", "singlePanel");

            // add "Previous" button to page 1
            dialog.addButton("Previous", function (dialog) {
                dialog.prevPage();
            });
            // adds "Cancel" button to page 1
            dialog.addButton("Cancel", function (dialog) {
                dialog.hide();
            });

            // Add events to dialog trigger elements
            AJS.$("#example1-dialog-button").click(function () {
                // PREPARE FOR DISPLAY
                // start first page, first panel
                dialog.gotoPage(0);
                dialog.gotoPanel(0);
                dialog.show();
            });

        });
    </script>

</article>

<h2>Code</h2>
<p>A simple Dialog may have just one page, with one panel, plus the usual header with heading text and a footer with
    buttons.</p>
<p>If multiple panels are added to a Dialog page, they will be shown one at a time with a vertical set of controls on
    the left (very similar to vertical nav or tabs).</p>
<p>Multi-step dialogs (eg. wizards) show multiple pages, accessed via buttons in the footer.</p>

<h3>HTML</h3>

<p>Create a trigger which will be used by the JavaScript:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/js">
        // Standard sizes are 400, 600, 800 and 960 pixels wide
        var dialog = new AJS.Dialog({
            width: 800,
            height: 500,
            id: "example-dialog",
            closeOnOutsideClick: true
        });

        // PAGE 0 (first page)
        // adds header for first page
        dialog.addHeader("Dialog");

        // add panel 1
        dialog.addPanel("Panel 1", "<p>Some content for panel 1.</p>", "panel-body");
        // You can remove padding with:
        // dialog.get("panel:0").setPadding(0);

        // add panel 2 (this will create a menu on the left side for selecting panels within page 0)
        dialog.addPanel("Panel 2", '<p>Some content for panel 2.</p>' +
            '<div style="height: 2000px;">(forced-height element to demonstrate scrolling content)</div>' +
            '<p>End.</p>', 'panel-body');

        dialog.addButton("Next", function (dialog) {
            dialog.nextPage();
        });
        dialog.addLink("Cancel", function (dialog) {
            dialog.hide();
        }, "#");

        // PAGE 1 (second page)
        // adds a new page to dialog
        dialog.addPage();

        // adds header for second page
        dialog.addHeader("Dialog");

        // adds a single panel on second page (as there is only one panel, no menu will appear on the left side)
        dialog.addPanel("SinglePanel", "<p>Some content for the only panel on Page 1</p>", "singlePanel");

        // add "Previous" button to page 1
        dialog.addButton("Previous", function(dialog) {
            dialog.prevPage();
        });
        // adds "Cancel" button to page 1
        dialog.addButton("Cancel", function (dialog) {
            dialog.hide();
        });

        // Add events to dialog trigger elements
        AJS.$("#example2-dialog-button").click(function() {
            // PREPARE FOR DISPLAY
            // start first page, first panel
            dialog.gotoPage(0);
            dialog.gotoPanel(0);
            dialog.show();
        });
    </noscript>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="example2-dialog-button">Show dialog</button>
    </noscript>
</aui-docs-example>

<h2>Options</h2>
<p>The Dialog API uses a Dialog object which can be instantiated as follows:</p>
<noscript is="aui-docs-code" type="text/js">
    var dialog = new AJS.Dialog({
        width:800,
        height:500,
        id:"dialog-name",
        closeOnOutsideClick: true
    });
</noscript>

<p>This alone will create a simple popup that closes if the user clicks outside the popup.</p><p>In most cases, further
    functionality is added using Dialog's various methods.</p>

<h3>Methods</h3>

<table class="aui" id="dialog-methods">
    <thead>
    <tr>
        <th>Function</th>
        <th>Arguments</th>
        <th class="description">Description</th>
        <th>Example Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>addHeader</code></td>
        <td>title, className</td>
        <td>adds a heading to the current page of the dialog</td>
        <td>
           <noscript is="aui-docs-code" type="text/js"> dialog.addHeader(
    "HEADING",
    "title-class"
);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>addButton</code></td>
        <td>label, onClickEvent, className</td>
        <td>adds a new button to the button panel of the dialog</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.addButton(
    "label",
    fnOnClickHandler,
    "button-class-name"
);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>addLink</code></td>
        <td>label, onClickEvent, className</td>
        <td>adds a new link to the button panel of the dialog</td>
        <td>
           <noscript is="aui-docs-code" type="text/js"> dialog.addLink(
    "label",
    fnOnClickHandler,
    "link-class-name",
    "url"
);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>addSubmit</code></td>
        <td>label, onClickEvent</td>
        <td>adds a standard submit button to your dialog, you must specify the onClick action</td>
        <td>
           <noscript is="aui-docs-code" type="text/js"> dialog.addSubmit(
    "label",
    function() {
    //on click event
    }
);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>addCancel</code></td>
        <td>&nbsp;</td>
        <td>adds a standard cancel link to your dialog</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.addCancel(
    "label",
    fnOnClickHandler
);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>addButtonPanel</code></td>
        <td>&nbsp;</td>
        <td>adds a new button panel to the current page</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.addButtonPanel();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>addPanel</code></td>
        <td>title, selectorForContent (eg. jQuery selector), className</td>
        <td>adds a new panel to the current page of the dialog</td>
        <td>
           <noscript is="aui-docs-code" type="text/js"> dialog.addPanel("title",
    "content-selector",
    "panel-class-name",
);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>addPage</code></td>
        <td>className</td>
        <td>adds a new page to the dialog</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.addPage("page-class-name");</noscript>
        </td>
    </tr>
    <tr>
        <td><code>nextPage</code></td>
        <td>&nbsp;</td>
        <td>goes to the next page in the dialog hierarchy</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.nextPage();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>prevPage</code></td>
        <td>&nbsp;</td>
        <td>goes to the previous page in the dialog hierarchy</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.prevPage();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>gotoPage</code></td>
        <td>pageNumber</td>
        <td>goes to a specific page in the dialog hierarchy</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.gotoPage(3);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>getPanel</code></td>
        <td>pageorpanelID, panelID</td>
        <td>returns the desired panel object</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.getPanel(1, 3);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>getPage</code></td>
        <td>pageID</td>
        <td>returns the desired page object</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.getPage(1);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>getCurrentPanel</code></td>
        <td>&nbsp;</td>
        <td>returns the current panel object</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.getCurrentPanel();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>gotoPanel</code></td>
        <td>pageObject , panelIDorObject</td>
        <td>goes to a specific panel in the dialog hierarchy</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.gotoPanel(page, 3);</noscript>
        </td>
    </tr>
    <tr>
        <td><code>show</code></td>
        <td>&nbsp;</td>
        <td>shows the dialog</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.show();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>hide</code></td>
        <td>&nbsp;</td>
        <td>hides the dialog</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.hide();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>remove</code></td>
        <td>&nbsp;</td>
        <td>removes the dialog</td>
        <td>
           <noscript is="aui-docs-code" type="text/js"> dialog.remove();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>disable</code></td>
        <td>&nbsp;</td>
        <td>disables the dialog making it unclickable and unresponsive</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.disable();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>enable</code></td>
        <td>&nbsp;</td>
        <td>enables the dialog if it is disabled</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.enable();</noscript>
        </td>
    </tr>
    <tr>
        <td><code>updateHeight</code></td>
        <td>&nbsp;</td>
        <td>updates the height of a dialog if content is expanded so that scrollbars are not required</td>
        <td>
            <noscript is="aui-docs-code" type="text/js">dialog.updateHeight();</noscript>
        </td>
    </tr>
    </tbody>
</table>

<h3>Event handlers</h3>

<p>The addButton, addLink and addCancel methods accept an onclick handler function which is called when the link or button is clicked with the following arguments.</p>

<noscript is="aui-docs-code" type="text/js">function fnOnClickHandler(dialog, page) {
    // dialog = This AJS.Dialog instance
    // page = The page of the dialog to which this button has been added
    // As of AUI 3.4:
    // Return true to allow the default action of this click event.
    // Return any other value to prevent the default action of this click event.
    return true;
}</noscript>
<p>As of AUI version 3.4, omitting the return statement or returning false will prevent the default
    action of click events on this element. Returning true will allow the default action to proceed.</p>

<h3>Events</h3>
<p>As of AUI 3.5, events are thrown when a dialog is shown, hidden and removed. You can bind to the events: </p>
<ul>
    <li>show.dialog</li>
    <li>hide.dialog</li>
    <li>remove.dialog</li>
</ul>

<p>For example:</p>
<noscript is="aui-docs-code" type="text/js">
    AJS.bind("show.dialog", function(e, data) {
        console.log("Dialog shown " + data.dialog.id);
    });
</noscript>
