---
component: Labels
analytics:
  pageCategory: component
  component: labels
design: https://design.atlassian.com/latest/product/components/labels/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-labels
  amd: false
  experimentalSince: 5.0
  generalSince: 5.8
---

<h2>Summary</h2>

<p>Labels are used to tag or label content with certain keywords; and optionally to link to resources showing more
    information related to that keyword.</p>

<h2>Status</h2>
{{> status }}

<h2>Behaviour</h2>

<p>AUI Labels can be created in four configurations:</p>
<ul>
    <li>unclickable (information only)</li>
    <li>unclickable, but closeable</li>
    <li>clickable</li>
    <li>clickable AND closeable - a "split label" with two distinct actions</li>
</ul>
<p><em>Note that removable labels only appear removable. They require you to implement your own removing logic.</em>
</p>

<h2>Examples</h2>

<article class="aui-flatpack-example">
    <p>
        <span id="unclickable-label" class="aui-label">Label text</span>
        <a id="clickable-label" class="aui-label" href="#">Label link</a>
            <span id="closeable-label-nourl" class="aui-label aui-label-closeable">Removable label<span tabindex="0"
                                                                                                        class="aui-icon aui-icon-close"
                                                                                                        original-title="(remove closableNoUrl)">(remove closableNoUrl)</span></span>
    </p>
        <span id="split-label" class="aui-label aui-label-closeable aui-label-split"><a class="aui-label-split-main"
                                                                                        href="#">Removable label
            link</a><span class="aui-label-split-close"><span tabindex="0" class="aui-icon aui-icon-close"
                                                              original-title="(remove splitLabel)">(remove splitLabel)</span></span></span>

    <p></p>
</article>

<h2>Code</h2>
<h3>Soy</h3>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.labels.label}
        {param text: 'unclickableUncloseable' /}
        {param id: 'unclickable-label' /}
    {/call}
    {call aui.labels.label}
        {param text: 'clickable' /}
        {param id: 'clickable-label' /}
        {param url: 'http://example.com/' /}
    {/call}
    {call aui.labels.label}
        {param text: 'closableNoUrl' /}
        {param id: 'closeable-label-nourl' /}
        {param isCloseable: true /}
    {/call}
    {call aui.labels.label}
        {param text: 'splitLabel' /}
        {param id: 'split-label' /}
        {param url: 'http://example.com/' /}
        {param isCloseable: true /}
    {/call}
</noscript>
