@import './imports/global';

/*
    Icons.
*/
//Order is important for display preference
[data-aui-notification-info]+.aui-icon.aui-icon-notification {
    &:before {
        content: @aui-notification-info-icon;
    }
    color: @aui-notification-info-icon-color;
}

[data-aui-notification-success]+.aui-icon.aui-icon-notification {
    &:before {
        content: @aui-notification-success-icon;
    }
    color: @aui-notification-success-color;
}

[data-aui-notification-error]+.aui-icon.aui-icon-notification {
    &:before {
        content: @aui-notification-error-icon;
    }
    color: @aui-notification-error-color;
}

[data-aui-notification-field].aui-form-notification-field-no-icon+.aui-icon.aui-icon-notification {
    visibility: hidden;
}

//By default icons are outside of fields
.aui-icon-notification {
    margin-left: @aui-notification-icon-outside-field-offset-right;
    margin-top: @aui-notification-icon-outside-field-offset-top;
    vertical-align: top;
}

//Borders: Components that should have coloured borders
form.aui {
    .password,
    .text,
    .textarea {
        &[data-aui-notification-error] {
            border-color: @aui-notification-error-color;
        }
        &[data-aui-notification-success] {
            border-color: @aui-notification-success-color;
        }
    }
}

form.aui {
    aui-spinner {
        margin-left: 0;
        margin-top: 0;
        position: relative;
        right: (@aui-notification-icon-outside-field-width + @aui-notification-icon-outside-field-padding-right);
        top: @aui-notification-icon-outside-field-padding-top;
        vertical-align: top;
        display: inline-block;
    }
}
